.main-content {
	max-width: min(800px, calc(100% - 20px));
	margin: 100px auto;
}

.signature {
	margin-left: 20px;
	opacity: 0.8;
}

.sidebar {
	position: sticky;
	margin: 0 0 0 10%;
	top: 20px;
	height: 100%;
	left: 0;
	align-self: start;
}

@media not screen {
	.sidebar {
		display: none;
	}
}

.footer {
	position: fixed;
	bottom: 10%;
}

@media screen and (max-width: 1299px) {
	.main-content {
		max-width: min(800px, calc(100% - 20px));
		margin: auto;
	}
}

@media screen and (max-width: 649px) {
	.project-card {
		flex-flow: column;
	}

	.project-card img {
		max-height: max-content;
	}

	.project-card:hover {
		background: rgb(255, 255, 255);
	}
}