html {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-style: normal;
	font-size: 1.1em;
}

body {
	background-color: rgb(245, 245, 245);
	color: rgb(0, 0, 0);
	margin: 0;
}

h1 {
	font-size: 1.75em;
	font-weight: 600;
}

h2 {
	font-size: 1.4em;
	font-weight: 600;
	margin-top: 60px;
}

hr {
	border-width: 1px;
	border-color: lightgray;
	border-style: solid;
}

ul {
	list-style-type: none;
}

ul * {
	margin-top: 5px;
}

a {
	text-decoration: none;
	color: rgb(19, 23, 32);
}

.link {
	font-weight: 450;
	font-size: 1.2em;
	transition: 0.1s;
}

.link:hover {
	text-decoration: underline;
	padding-left: 5px;
}

p {
	color: rgb(91, 91, 91);
	font-family: "Roboto";
	font-weight: 550;
	font-size: 1em;
}

strong {
	font-weight: 600;
	color: rgb(20, 180, 20);
}

.social-icon>img {
	width: 45px;
}

.social-icon>img:hover {
	transition: 0.2s;
	opacity: 0.75;
}

.social-icon>img:not(:hover) {
	transition: 0.2s;
}

.social-icon {
	text-decoration: none;
	margin: 1px;
}

.title {
	font-size: 3em;
	font-weight: 600;
}

.center {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 100px;
	padding: 10px;
}