#main-content {
	width: 100%;
	height: 100%;

	display: flex;
}

#projects-list {
	flex-basis: 500px;
	flex-shrink: 0;

	padding: 10px;

	overflow-y: scroll;
}

#project-page {
	width: 100%;
	height: 100%;
}

#back-button {
	position: absolute;
	left: 3%;
	top: 15px;
}

.project-card img {
	max-height: 50px;
	height: 50px;
	width: 90px;
}

.title {
	text-align: center;
	margin-top: 60px;
}

hr {
	width: 60%;
}

footer {
	height: 40px;
	width: 100%;
	margin-top: 100px;
}

@media (min-width: 800px) {
	#project-description {
		margin: auto;
		width: 60%;
	}
}

@media (max-width: 799px) {
	#project-description {
		margin: 20px;
	}
}

@media (max-width: 1499px) {
	#projects-list {
		display: none;
	}
}

@media (min-width: 1500px) {
	#main-content {
		position: absolute;
	}

	#project-page {
		overflow-y: scroll;
	}
}